<!DOCTYPE html>
<html>
  <head>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <!-- ^^^^ this line of code helps when it comes to changes of screen type ^^^^ -->
    <title>Pierre's Treats</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="outside">
        <div class="first_inner_div">
          <div class="Second_inner_div" id="scroller">
          @RenderBody()
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="outer_navigation_bar">
        <div class="navigation_bar">
          <header>Navi</header>
          @if (User.Identity.IsAuthenticated) {
            <span id="small" class="btn btn-outline-secondary">@Html.ActionLink("Home", "Index", "Home")</span>
            <br>
            <span id="small" class="btn btn-outline-secondary">@Html.ActionLink("Contact", "About", "Home")</span>
            <br>
            <span>
              <span>@User.Identity.Name</span> 
              @using (Html.BeginForm("LogOff", "Account"))
              {
                <input type="submit" class="btn btn-primary" value="Log out" /> 
              }
            </span>
          }
          else 
          {
            <span id="small" class="btn btn-outline-secondary">@Html.ActionLink("Home", "Index", "Home")</span>
            <br>
            <span id="small" class="btn btn-outline-secondary">@Html.ActionLink("Login", "Login", "Account")</span>
            <br>
            <span id="small" class="btn btn-outline-secondary">@Html.ActionLink("Contact", "About", "Home")</span>
            <br>
          } 
        </div>
      </div>
    </div>
  </body>
</html>